# Generated with extract_ref_nets

set_io clk_osc              L5
set_io fpga_cfg_done        K8
set_io fpga_cfg_sck         L10
set_io fpga_cfg_si          J9
set_io fpga_cfg_rst         L9
set_io fpga_cfg_ss          K10
set_io fpga_heartbeat       A8
set_io fpga_uart_rx         C7
set_io fpga_uart_tx         A7
set_io gpio_sw[0]           A6
set_io gpio_sw[1]           A5
set_io gpio_sw[2]           B5
set_io gpio_sw[3]           A4
set_io gpio_sw[4]           D5
set_io gpio_sw[5]           B4
set_io gpio_sw[6]           B3
set_io gpio_sw[7]           A2
set_io gpio_sw[8]           A3
set_io gpio_sw[9]           A1
set_io lcd_cs               J11
set_io lcd_dc               K11
set_io lcd_pwm              G10
set_io lcd_reset            G8
set_io lcd_scl              J10
set_io lcd_sda              H10
set_io lcd_sdo              H11
set_io sram_a[0]            E3
set_io sram_a[1]            D3
set_io sram_a[2]            C3
set_io sram_a[3]            C4
set_io sram_a[4]            B2
set_io sram_a[5]            B1
set_io sram_a[6]            C2
set_io sram_a[7]            C1
set_io sram_a[8]            J1
set_io sram_a[9]            K2
set_io sram_a[10]           K1
set_io sram_a[11]           H3
set_io sram_a[12]           L7
set_io sram_a[13]           K7
set_io sram_a[14]           K5
set_io sram_a[15]           L4
set_io sram_a[16]           L8
set_io sram_a[17]           L1
set_io sram_dq[1]           G3
set_io sram_dq[2]           J4
set_io sram_dq[3]           J5
set_io sram_dq[4]           H7
set_io sram_dq[5]           J7
set_io sram_dq[6]           L2
set_io sram_dq[7]           K3
set_io sram_dq[8]           L3
set_io sram_dq[9]           J2
set_io sram_dq[10]          H1
set_io sram_dq[11]          H2
set_io sram_dq[12]          G1
set_io sram_dq[13]          G2
set_io sram_dq[14]          F1
set_io sram_dq[15]          F2
set_io sram_dq[16]          E1
set_io sram_ce              F4
set_io sram_lb              E2
set_io sram_oe              D2
set_io sram_ub              D1
set_io sram_we              K4
set_io usd_clk              B11
set_io usd_cmd              C11
set_io usd_dat[0]           D9
set_io usd_dat[1]           E11
set_io usd_dat[2]           D11
set_io usd_dat[3]           D10
