###############################################################################
# EVN board
###############################################################################

# LEDs
set_io led[0] B5
set_io led[1] B4
set_io led[2] A2
set_io led[3] A1
set_io led[4] C5
set_io led[5] C4
set_io led[6] B3
set_io led[7] C3

# To FT2233H UART:
set_io uart_tx B12
set_io uart_rx B10

# Connect SPI master to configuration flash!
set_io flash_mosi P12
set_io flash_miso P11
set_io flash_sclk R11
set_io flash_cs R12

# 12 MHz oscillator
set_io clk_osc J3

###############################################################################
# Breakout board
###############################################################################

set_io dpad_u F1
set_io dpad_d E2
set_io dpad_l F2
set_io dpad_r T5
set_io btn_a R5

set_io sram_dq[0]  T7
set_io sram_dq[1]  H2

# See note on CE below
# set_io sram_dq[2]  J3
set_io sram_dq[2]  T8

set_io sram_dq[3]  R9
set_io sram_dq[4]  T9
set_io sram_dq[5]  J1
set_io sram_dq[6]  J2
set_io sram_dq[7]  P9
set_io sram_dq[8]  T16
set_io sram_dq[9]  T14
set_io sram_dq[10] M11
set_io sram_dq[11] P13
set_io sram_dq[12] R1
set_io sram_dq[13] P1
set_io sram_dq[14] P2
set_io sram_dq[15] N3

set_io sram_addr[0]  G2
set_io sram_addr[1]  H1
set_io sram_addr[2]  T6
set_io sram_addr[3]  R6
set_io sram_addr[4]  G1
set_io sram_addr[5]  L3
set_io sram_addr[6]  M2
set_io sram_addr[7]  M1
set_io sram_addr[8]  N10
set_io sram_addr[9]  T15
set_io sram_addr[10] R16
set_io sram_addr[11] T13
set_io sram_addr[12] T10
set_io sram_addr[13] R10
set_io sram_addr[14] P8
set_io sram_addr[15] K3
set_io sram_addr[16] L1
set_io sram_addr[17] N12

# CE was tied to ground to free up an IO to drive DQ2.
# DQ2 was supposed to be tied to J3, but this ball is actually tied to the oscillator
# on the HX8k-EVN board, and Lattice still exposed it on the header for some reason.

#set_io sram_ce_n T8

set_io sram_we_n K1
set_io sram_oe_n P10
set_io sram_byte_n[1] T11
set_io sram_byte_n[0] N2
