# LEDs
set_io led[0] 37 # Green on main board
set_io led[1] 11 # Red on main board
set_io led[2] 26 # Middle on snapoff (L1)
set_io led[3] 27 # Left on snapoff   (L2)
set_io led[4] 25 # Right on snapoff  (L3)
set_io led[5] 23 # Top on snapoff    (L4)
set_io led[6] 21 # Bottom on snapoff (L5)

set_io uart_tx 9
set_io uart_rx 6

# Connect SPI master to configuration flash!
set_io flash_mosi 14
set_io flash_miso 17
set_io flash_sclk 15
set_io flash_cs 16

# 12 MHz oscillator
set_io clk_osc 35

# # Connect LCD signals to some random IOs
# set_io lcd_cs   4  # PMOD P1A1
# set_io lcd_dc   2  # PMOD P1A2
# set_io lcd_sclk 47 # PMOD P1A3
# set_io lcd_mosi 45 # PMOD P1A4

# DVI board on PMOD 1B
set_io dvi_p[2] 43 # P1B1 
set_io dvi_n[2] 38 # P1B2 
set_io dvi_p[0] 34 # P1B3 
set_io dvi_n[0] 31 # P1B4 
set_io dvi_p[1] 42 # P1B7 
set_io dvi_n[1] 36 # P1B8 
set_io dvi_p[3] 32 # P1B9 
set_io dvi_n[3] 28 # P1B10

set_io dpad_u 20 # Snapoff top
set_io dpad_d 18 # Snapoff bottom
set_io dpad_l 10 # Main board
set_io dpad_r 19 # Snapoff middle

# For reference, the full original PCF is below:
# 
# # 12 MHz clock
# set_io -nowarn CLK        35
# 
# # RS232
# set_io -nowarn RX          6
# set_io -nowarn TX          9
# 
# # LEDs and Button
# set_io -nowarn BTN_N      10
# set_io -nowarn LEDR_N     11
# set_io -nowarn LEDG_N     37
# 
# # RGB LED Driver
# set_io -nowarn LED_RED_N  39
# set_io -nowarn LED_GRN_N  40
# set_io -nowarn LED_BLU_N  41
# 
# # SPI Flash
# set_io -nowarn FLASH_SCK  15
# set_io -nowarn FLASH_SSB  16
# set_io -nowarn FLASH_IO0  14
# set_io -nowarn FLASH_IO1  17
# set_io -nowarn FLASH_IO2  12
# set_io -nowarn FLASH_IO3  13
# 
# # PMOD 1A
# set_io -nowarn P1A1        4
# set_io -nowarn P1A2        2
# set_io -nowarn P1A3       47
# set_io -nowarn P1A4       45
# set_io -nowarn P1A7        3
# set_io -nowarn P1A8       48
# set_io -nowarn P1A9       46
# set_io -nowarn P1A10      44
# 
# # PMOD 1B
# set_io -nowarn P1B1       43
# set_io -nowarn P1B2       38
# set_io -nowarn P1B3       34
# set_io -nowarn P1B4       31
# set_io -nowarn P1B7       42
# set_io -nowarn P1B8       36
# set_io -nowarn P1B9       32
# set_io -nowarn P1B10      28
# 
# # PMOD 2
# set_io -nowarn P2_1       27
# set_io -nowarn P2_2       25
# set_io -nowarn P2_3       21
# set_io -nowarn P2_4       19
# set_io -nowarn P2_7       26
# set_io -nowarn P2_8       23
# set_io -nowarn P2_9       20
# set_io -nowarn P2_10      18
# 
# # LEDs and Buttons (PMOD 2)
# set_io -nowarn LED1       27
# set_io -nowarn LED2       25
# set_io -nowarn LED3       21
# set_io -nowarn BTN2       19
# set_io -nowarn LED5       26
# set_io -nowarn LED4       23
# set_io -nowarn BTN1       20
# set_io -nowarn BTN3       18#
 
